@font-face{
    font-family: iranyekanbold;
    font-style: normal;
    font-weight: bold;
    src:url('../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot') format('eot'),
    url('../fonts/iranyekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
    url('../fonts/iranyekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
    url('../fonts/iranyekan/ttf/iranyekanwebbold(fanum).ttf') format('ttf')
}

@font-face{
    font-family: iranyekanlight;
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/iranyekan/eot/iranyekanweblight(fanum).eot') format('eot'),
    url('../fonts/iranyekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
    url('../fonts/iranyekan/woff/iranyekanweblight(fanum).woff') format('woff'),
    url('../fonts/iranyekan/ttf/iranyekanweblight(fanum).ttf') format('ttf')
}

*{
    font-family: iranyekanlight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

h1,h2,h3,h4,h5,h6{
    font-family: iranyekanbold;}

/* loader */

#preloader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}

#loader {
    display: block;
    position: relative;
    right: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px -75px 0 0;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* header */

.header{
    height: 80px;
    border-radius: 0 0 20px 20px;}

.header ul li button{
    background-color: transparent;
    border: none;
    font-size: 40px;}

.menu-canvas{
    width: 25%;}

.user-canvas{
    width: 25%;}

.rotate-vert-center:hover {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;}

    @-webkit-keyframes rotate-vert-center {
      0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
      }
      100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
      }
    }
    @keyframes rotate-vert-center {
      0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
      }
      100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
      }
    }
    

/* search box */

.searchBox {
    border-radius: 40px;
    padding: 5px;}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;}

.searchButton {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: 1px solid rgba(95, 67, 178,.3) !important;}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;}

/* logo */

.header ul li a{
    text-decoration: none;}

/* notification */

.dropdown-menu{
    border-radius: 0 10px 10px 10px;}

.custom-dropdown .btn:active, .custom-dropdown .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;}
  
  .custom-dropdown .title-wrap {
    padding-top: 10px;
    padding-bottom: 10px;}
  
  .custom-dropdown .title {
    font-size: 12px;
    font-weight: 700;}
  
  .custom-dropdown .dropdown-link {
    display: inline-block;
    padding-right: 0px;
    position: relative;}
  
  .custom-dropdown .dropdown-link .wrap-icon {
    font-size: 30px;}
  
  .custom-dropdown .dropdown-menu {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    padding: 10px;
    opacity: 0;
    left: 0 !important;
    -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    visibility: hidden;
    width: 450px;}
  
  .custom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 10px !important;}
  
  .custom-dropdown .custom-notifications {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y: scroll;}
  
  .custom-dropdown .custom-notifications > li {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;}
  
  .custom-dropdown .custom-notifications > li:last-child {
    margin-bottom: 0;}
  
  .custom-dropdown .custom-notifications > li > a {
    display: block;
    padding: 20px;}

  .custom-dropdown .custom-notifications > li > a:hover {
    border-radius: 0 10px 10px 0;}
  
  .custom-dropdown .custom-notifications > li > a .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;}
  
  .custom-dropdown .custom-notifications > li > a .img img {
    width: 100px;
    border-radius: 10px;}
  
  .custom-dropdown .custom-notifications > li > a .text {
    margin-top: 0px;}
  
  .custom-dropdown .custom-notifications > li > a .text strong {
    font-weight: 700;}

/* user canvas */

.user-canvas{
    border-radius: 0 25px 25px 0;}

.link-items{
    border-radius: 5px;}

.link-items ul li{
    border-radius: 4px;
    cursor: pointer;}

/* menu canvas */

.btn-menu{
  text-align: start !important;}

.menu-items ul li{
  cursor: pointer;
  position: relative;}

.menu-items ul li::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all .5s ease;}

.menu-items ul li:hover::after{
  content: '';
  width: 90%;}

/* main */

.main{
  margin-top:50px;}

.side-slider{
  height: 80px;
  border-radius: 20px;
  cursor: pointer;}

.side-slider img{
  height:100px;}

.slider{
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;}

.slider-content .owl-nav{
  display: none;}

.slider-content .owl-dots{
  margin-top: 10px;}

.item{
  border-radius: 10px;}

.slider-img{
  border-radius: 10px;
  cursor: pointer;}

.rotate-center:hover {
  -webkit-animation: rotate-center 1s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;}

  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.owl-theme .owl-dots .owl-dot span{
  width: 21px !important;}

.top-back{
  background-image: url("../img/slice-1-2\ -\ Copy.png");
  background-size: cover;
  background-position: bottom;
  height: 190px;
  margin: -70px 0;}

/* section-two */

.slider-content-two .owl-nav{
  display: none;}

.slider-content-two .owl-dots{
  margin-top: 10px;}

.slider-options{
  border-radius: 0 10px 10px 0;}

.slider-two{
  border-radius:10px 0 0 10px;}

.slider-two img{
  border-radius: 10px 0 0 10px;}

.section-two-title::before{
  content: '';
  width: 100px;
  height: 3px;
  position: absolute;
  bottom: 0; }

.section-two-title::after{
  content: '';
  width: 200px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  right: 0; }

.slider-content-three .owl-nav{
    display: none;}
  
.slider-content-three .owl-dots{
    margin-top: 10px;}

.slider-options-two{
    border-radius: 0 0 10px 10px;}
    
.slider-three{
    border-radius: 0 0 0 0 ;}
    
.slider-three img{
    border-radius: 0 0 0 0;}

.option-title{
  border-radius: 10px 10px 10px 10px;}
  















  


  
  

